.center {

	text-align: center;
	justify-content: center;
	display: flex;
	width: %100;
	padding: 5px;
}

.inp-reasignar{
	width:600px;
	height:16px;
	font-size:8px;
}
.label-respuesta-api {
	text-align: center;
	justify-content: center;
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 0px; 
	width: 300px;
	font-size:8px;
}

.center-menu {
	text-align: center;
	justify-content: center;
	display: flex;
	width: %100;
	padding: 5px;
}

.boton {
	color: #ffffff;
	padding:5px;
	padding-top:3px;
	font-size:7px;
	justify-content:center;
	height:20px;
	font-weight: bolder; 
}	

.dropdown-menu {
  transform: translate3d(0px, 38px, 0px) !important;
}

.table td {
	font-size: 8px;
	font-weight: bold;
	padding:  5px;
}

.title{
	margin-top: 0;
	margin-bottom: 0.5rem;
	color: #003300;
	text-align: center;
	font-weight: bolder;
	font-size: 24px;
}

.input-container{
	margin-top: 0;
	margin-bottom: 0.5rem;
	color: #003300;
	text-align: center;
	font-weight: bolder;
	font-size: 24px;
}


/* optional */
body .dropdown-toggle {
	width: 30px;
	align-items: right;
	border-radius: .1rem .1rem 0 0;
}

body .dropdown-menu {
	border-radius: 0 .25rem .25rem .25rem;
}
/* end optional */

.btn,
button {
  box-shadow: none !important;
}

.table th {
padding:  5px;
font-size: 12px;
  background-color: #00cccc;
  border-color: #dee2e6;
  color: #000000;
}


label{
  color: #002500;

}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #002500;
  text-align: center;
  font-weight: bolder;
}

h3 {

  font-size: 20px;
  font-weight: bolder;
}

h6 {

  font-size: 10px;
  font-weight: bolder;
}

h7 {
	height:12px;
	padding:0px;
	margin:0px;
  font-size: 9px;
  font-weight: bolder;
}


p {
  color: #002000;
  font-size: 16px;
  font-weight: bold; 
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.custom-navClass {
  background: #737373 !important;
  height:40px;
  text-align: center ;
  padding-top: 14px;
   padding-bottom: 14px;
   padding:7px;
}

.boton-abrir-cerrar {
  background: #737373 !important;
  height:26px;
  width:26px;
  text-align: center ;
  margin-bottom: 2px;
  padding:4px;
}

.icono-abrir-cerrar {
  background: #737373 !important;
  height:10px;
  width:10px;
  text-align: center ;

  margin-bottom: 16px;
  margin-right: 8px;

  padding-right:10px;
}


.mc{
 height:-10px;
 margin-top:4px;
 margin-bottom:6px;
 padding-top:2px;
 padding-bottom:4px;
}

.mc-auto{
	height:25px;
}
.custom-item {
  color: #d5d8ee;
  background: #566573 ;
  background-color: #566573;
  font-size: 12px;
  padding: 2px;
  font-weight: bolder;
}

.topbar-item {
  color: #d5d8ee;
  background: #566573 ;
  background-color: #566573;
  font-size: 9px;
  height:0px;
  font-weight: bolder;
}


.rotulo {
  color: #d5d8ee;
  background: #566573 ;
  background-color: #566573;
  font-size: 9px;
  padding: 0;
  font-weight: bolder;

}

.custom-navMenu {
  color: #d5d8ee;
  background: #566573 ;
  background-color: #566573;
  text-align: center ;
  padding: 0;
  margin-top: 0;
  margin-left: 50px; 
  width: %100;
  height: 35px;
}

.custom-menu {
  color: #d5d8ee;
  background: #566573 ;
  background-color: #566573;
  font-size: 9px;
  padding: 0px;
  margin-top: 5px;
  font-weight: bolder; 
  width: 200px;
  height: 25px;
}
.menues {
  color: #d5d8ee;
  background: #566573 ;
  background-color: #566573;
  font-size: 12px;
  padding: 6px;
  margin-top: 12px;
  font-weight: bolder; 
  width: 200px;
  height: 102px;
}

.menues {
  color: #d5d8ee;
  background: #566573 ;
  background-color: #566573;
  font-size: 12px;
  padding: 6px;
  margin-top: 12px;
  font-weight: bolder; 
  width: 200px;
  height: 102px;
}
 .custom-menu p {
  color: #d5d8ee;
  background: #566573 ;
  background-color: #566573;
  font-size: 9px;
  padding: 5px;
	height:12px;
  font-weight: bolder;
  line-height: 2px;
  margin-bottom: 0;
}

 .nav-item {

  font-size: 9px;
  padding: 6px;
	height:12px;
  font-weight: bolder;
  line-height: 6px;
  margin-bottom: 0;
}

.menues p {
  color: #d5d8ee;
  background: #566573 ;
  background-color: #566573;
  font-size: 8px;
  padding: 3px;
  font-weight: bolder;
  line-height: 10px;
  height:24px;
  margin-top: 10px;
}



.rotulo h1 {
  color: #d5d8ee;
  background: #566573 ;
  background-color: #566573;
  font-size: 32px;
  padding: 0;
  font-weight: bolder;
  line-height: 50px;
  margin-bottom: 0;
}
 .custom-item h1 {
  color: #d5d8ee;
  background: #566573 ;
  background-color: #566573;
  font-size: 32px;
  padding: 0;
  font-weight: bolder;
  line-height: 50px;
  margin-bottom: 0;
}

.custom-item:hover {
  color: #d5d8dc;

  background: #000000;
}

.navbar {
  color: #777777;
  justifyContent: 'center';
}
