.center-editar-venta{
	text-align: center;
	justify-content: center;
	display: flex;
	width: 100%;
	padding: 5px;
	position:relative;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.center-resultados{
	text-align: center;
	justify-content: center;
	display: inline-block;
	width: 400px;
	padding: 5px;
	position:relative;
}

.fila-editar-venta {
	justify-content: left;
	text-align: left;
	height:20px;
}

.fila-espaciado {
	justify-content: left;
	text-align: left;
	height:30px;
}

.fila-actualizar-valores {
	justify-content: center;
	text-align: center;
	height:15px;
}

.inp-editar-venta{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 5px; 
	width: 150px;
	height:16px;
	font-size:9px;
}

.inp-cant-editar-venta{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 6px;
	margin-left: 6px; 
	width: 80px;
	height:16px;
	font-size:9px;
}

.label-unidad-editar-venta{
	text-align: right;
	padding:0;
	margin:0;
	margin-right: 20px;	
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 18px; 
	width: 30px;
	font-size:10px;
}

.label-editar-venta {
	text-align: left;
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 0px; 
	width: 120px;
	font-size:10px;
}

.label-campos-editar-venta {
	text-align: left;
	padding:0;
	margin:0;
	margin-right: 10px;	
	margin-top: 0;
	margin-left: 0px; 
	width: 90px;
	font-size:10px;
}


.label-misma-asignacion {
	text-align: left;
	justify-content: left;
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 15px; 
	width: 170px;
	font-size:10px;
}

.fila-resultado {
	justify-content:center;
	text-align:left;
	width:%100;
	height:15px;
}

.inp-resultado{
	text-align:left;
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 0px; 
	font-size:9px;
	width: 150px;
	height:16px;
}

.label-resultado{
	text-align: left;
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 0px; 
	width: 130px;
	font-size:10px;
}

.label-valor-resultado{
	text-align: right;
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 0px; 
	width: 160px;
	font-size:10px;
}

.fila-titulo {

	padding:5px;
	display: inline-block;
	text-align:center;
	justify-content:center;
	width:250px;
	height:10px;
	margin-bottom:40px;
}

.label-titulo{
	justify-content:center;
	text-align: center;
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 0px; 

	height:100px;

}

.label-editar-precio-unitario{
	padding:0;
	margin:0;
	margin-right: 15px;	
	margin-top: 0;
	margin-left: 10px; 
	text-align:left;
	justify-content:left;
	width: 100px;
	height: 20px;
	font-size:10px;
	font-weight: bold;
}

.label-precio-anterior{
	padding:0;
	margin:0;
	margin-right: 15px;	
	margin-top: 0;
	margin-left: 10px; 
	text-align:left;
	justify-content:left;
	width: 200px;
	height: 20px;
	font-size:10px;
	font-weight: bold;
}


.fila-reasignar {

	width:1000px;
	height:70px;
}

.label-reasignar{
	justify-content:center;
	text-align: center;
	width: 350px;
	height:40px;
	font-size:10px;
}


.checkbox-editar-venta{
	padding:3px;
	margin:3px;
	margin-top: 9px;
	margin-left: 0px; 
	margin-right: 4px;	
	width: 10px;
	height: 10px;
}
