.center-ingresar-retirar{

	text-align: center;
	justify-content: center;
	display: "block";
	width: 500px;
	padding: 5px;
	font-size:10px;
}

.center-respuesta-api{
	
	text-align: center;
	justify-content: center;
	display: "block";
	width: 300px;
	margin-left:100px;
	margin-right:100px;
	padding: 2px;
	font-size:10px;
}

.fila-ingresar-retirar {
	justify-content: center;

}

.inp-ingresar-retirar{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 20px; 
	width: 120px;
	height: 16px;
	font-size:8px;
}

.inp-monto {
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 4px;
	margin-left: 20px; 
	width: 120px;
	height: 16px;
	font-size:8px;
}


.label-ingresar-retirar{
	text-align: left;
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 10px; 
	width: 80px;
	font-size:12px;
}

.label-saldo-insuficiente{
	text-align: left;
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 10px; 
	width: 300px;
	font-size:8px;
}
