.center-nuevo-prod-usu{
	justify-content: center;
	text-align:center;
	display: inline-block;
	width: 800px;
	padding: 5px;
}


.form-nuevo-prod-usu{
	text-align: center;
	justify-content: center;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	width: 300px;
	padding: 5px;
}

.fila-nuevo-prod-usu {
	padding:3px;
	margin:3px;
	height:20px;
	width: 500px;
}

.inp-nuevo-prod-usu{
	padding:0px;

	text-align:left;
	justify-content:left;
	margin-right: 0px;	
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px; 
	width: 150px;
	height:16px;
	font-size:9px;
}

.label-nuevo-prod-usu{
	text-align: left;
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 10px; 
	width: 120px;
	height:12px;
	font-size:10px;
}
