.center-realizar-venta {

	text-align: center;
	justify-content: center;
	display: block;
	width: 1100px;
	padding: 5px;
}

.div-resultantes {

	text-align: center;
	justify-content: center;
	margin-top:30px;
	display: block;
	width: 900px;
	height:100px;
	padding: 5px;
	margin-left:20px;
}

.fila-resultantes-cuentas {
	justify-content:center;
	text-align:left;
	width:900px;
	height:16px;
}

.label-resultantes-cuentas{
	text-align: left;
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 0px; 
	width: 140px;
	font-size:9px;
}

.label-espaciado-resultantes{
	text-align: left;
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 0px; 
	width: 240px;
	font-size:9px;
}

.encabezado {
	text-align: center;
	justify-content: center;
	display:flex;
	width:100%;
	height:30px;
}

.fila-detalle {
	justify-content: center;
	text-align:left;
	height: 16px;
	margin-top:30px;
}

.formgroup-detalle {
	text-align: center;
	justify-content: center;
	display:block;
	width:1000px;
	padding: 0px;
}

.fila-stock {
	justify-content: left;
	text-align:left;
	height: 6px;


}

.label-margen-izq{
	margin-right: 70px;
}

.label-margen-der{
	margin-right: 20px;	
	margin-left: 20px
}

.botones {
	justify-content: center;
	margin-top:40px;
	text-align:left;
	height: 20px;
}

.boton-remover {
	margin-left:15px;
	color: #ffffff;
	padding:5px;
	padding-top:3px;
	font-size:7px;
	justify-content:center;
	height:20px;
	font-weight: bolder; 
}

.label-cod-venta{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 20px; 
	width: 100px;
	height: 20px;
	font-size:8px;
	font-weight: bold;

}

.label-unidad{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 00px; 
	width: 10px;
	height: 20px;
	font-size:8px;
	font-weight: bold;
}

.label-precio-unitario{
	padding:0;
	margin:0;
	margin-right: 15px;	
	margin-top: 0;
	margin-left: 25px; 
	text-align:left;
	justify-content:left;
	width: 80px;
	height: 20px;
	font-size:8px;
	font-weight: bold;
}

.inp-cod-venta{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 7px;
	margin-left: 0px; 
	width: 60px;
	height: 15px;
	font-size:10px;
	font-weight: bold;
}

.label-vendedor{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 5px; 
	width: 60px;
	height: 20px;
	font-size:8px;
	font-weight: bold;
}

.label-proveedor{
	padding:0;
	margin:0;
	margin-right: 3px;	
	margin-top: 0;
	margin-left: 10px; 
	width: 50px;
	height: 20px;
	font-size:8px;
	font-weight: bold;
}

.label-proveedor-existente{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 1px; 
	width: 170px;
	height: 20px;
	font-size:8px;
	font-weight: bold;
}

.inp-vendedor{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 1px; 
	width: 160px;
	height: 15px;
	font-size:10px;
	font-weight: bold;
}

.inp-proveedor{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 7px;
	margin-left: 1px; 
	width: 170px;
	height: 15px;
	font-size:10px;
	font-weight: bold;
}

.label-producto{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 10px; 
	width: 50px;
	height: 20px;
	font-size:8px;
	font-weight: bold;
}

.inp-producto{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 0px; 
	width: 120px;
	height: 16px;
	font-size:10px;
	font-weight: bold;
}

.label-cantidad{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 15px; 
	width: 50px;
	height: 20px;
	font-size:8px;
	font-weight: bold;
}

.inp-cantidad{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 7px;
	margin-left: 1px; 
	width: 60px;
	height: 16px;
	font-size:10px;
	font-weight: bold;
}


.inp-fecha-hora{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 1px; 
	width: 170px;
	height: 25px;
	font-size:10px;
	font-weight: bold;
}

.label-subtotal{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 5px; 
	width: 120px;
	height: 20px;
	font-size:8px;
	font-weight: bold;
}

.label-tipo-pago{
	padding:0;
	margin:0;
	margin-right: 5px;	
	margin-top: 0;
	margin-left: 10px; 
	width: 80px;
	height: 20px;
	font-size:8px;
	font-weight: bold;
}

.inp-tipo-pago{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 5px; 
	width: 145px;
	height: 16px;
	font-size:10px;
	font-weight: bold;
}

.label-stock-actual{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 20px; 
	width: 150px;
	height: 20px;
	font-size:7px;
	font-weight: bold;
}

.label-stock-resultante{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 36px; 
	width: 150px;
	height: 20px;
	font-size:7px;
	font-weight: bold;
}

.label-fecha-hora-actuales{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 10px; 
	width: 150px;
	height: 20px;
	font-size:8px;
	font-weight: bold;
}

.label-stock-insuficiente{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 0px; 
	width: 250px;
	height: 40px;
	font-size:8px;
	font-weight: bold;
}

.label-stock-insuficiente h6{
	text-align:center;
	font-size:10px;
	font-weight: bolder;
}

.checkbox-fecha-hora-actuales{
	padding:3px;
	margin:3px;
	margin-top: 9px;
	margin-left: 0px; 
	margin-right: 4px;	
	width: 10px;
	height: 10px;
}

.label-margen{
	margin-right: 10px;	
	margin-left: 10px; 
}

.label-fecha-hora{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 5px; 
	width: 80px;
	height: 20px;
	font-size:8px;
	font-weight: bold;
}


.label-resultado-editar-encabezado{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 5px; 
	width: 400px;
	height: 20px;
	font-size:8px;
	font-weight: bold;
}

.fila-botones-submit {
	justify-content: center;
	margin-left:0px;
	margin-right:70px;
	margin-top:40px;
	text-align:left;
	height: 40px;
}

.columna{
	padding:0;
	margin-top: 0;
	margin-left:100px;
	width: 130px;
	height: 20px;
	font-size:8px;
	font-weight: bold;
}
