.filtro-venta {
	justify-content: center;
	margin:10px;
	text-align:left;
	height: 35px;
}


.fila-filtro-producto-pago {
	justify-content: center;
	margin:10px;
	text-align:left;
	height: 20px;
}

.fila-filtro-actualizar {
	justify-content: center;
	margin:10px;
	text-align:left;
	height: 20px;
}

.fila-detalles-actualizar {
	justify-content: center;
	margin:10px;
	text-align:left;
	height: 20px;
}

.fila-mensaje-opciones {
	justify-content: center;
	margin:10px;
	text-align:left;
	height: 65px;
}



.label-filtro-todas-las-fechas{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 0px; 
	width: 120px;
	height: 16px;
	font-size:8px;
	font-weight: bold;
}

.label-filtro-cod-venta{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 30px; 
	width: 200px;
	height: 16px;
	font-size:8px;
	font-weight: bold;
}

.inp-filtro-cod-venta{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 7px;
	margin-left: 0px; 
	width: 75px;
	height: 16px;
	font-size:10px;
	font-weight: bold;
}

.inp-filtro-fecha{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 0px; 
	width: 75px;
	height: 16px;
	font-size:10px;
	font-weight: bold;
}


.label-filtro-vendedor{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 30px; 
	width: 70px;
	height: 16px;
	font-size:8px;
	font-weight: bold;
}

.label-filtro-fecha{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 30px; 
	width: 40px;
	height: 16px;
	font-size:8px;
	font-weight: bold;
}


.inp-filtro-vendedor{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 1px; 
	width: 150px;
	height: 16px;
	font-size:10px;
	font-weight: bold;
}


.label-filtro-producto{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 10px; 
	width: 60px;
	height: 16px;
	font-size:8px;
	font-weight: bold;
}

.inp-filtro-producto{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 1px; 
	width: 150px;
	height: 16px;
	font-size:10px;
	font-weight: bold;
}



.label-filtro-subtotal{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 25px; 
	width: 150px;
	height: 16px;
	font-size:8px;
	font-weight: bold;
}


.label-filtro-tipo-pago{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 20px; 
	width: 95px;
	height: 16px;
	font-size:8px;
	font-weight: bold;
}

.label-detalles-act-stock{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 20px; 
	width: 90px;
	height: 16px;
	font-size:8px;
	font-weight: bold;
}

.label-detalles-act-cuentas{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 30px; 
	width: 100px;
	height: 16px;
	font-size:8px;
	font-weight: bold;
}

.label-filtro-tipo-pago{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 20px; 
	width: 95px;
	height: 16px;
	font-size:8px;
	font-weight: bold;
}


.inp-filtro-tipo-pago{
	padding:0;
	margin:0;
	margin-right: 0px;	
	margin-top: 0;
	margin-left: 0px; 
	width: 125px;
	height: 16px;
	font-size:10px;
	font-weight: bold;
}

.checkbox-filtro-todas-las-fechas{
	padding:3px;
	margin:2px;
	margin-top: 6px;
	margin-left: 0px; 
	margin-right: 10px;	
	width: 14px;
	height: 14px;
}
.checkbox-registro{
	padding:3px;
	margin:3px;
	margin-top: 9px;
	margin-left: 2px; 
	margin-right: 4px;	
	width: 10px;
	height: 10px;
}


.columna{
	padding:0;
	margin-top: 0;
	margin-left:100px;
	width: 130px;
	height: 16px;
	font-size:8px;
	font-weight: bold;
}
