.sidebar {
	min-width: 180px;
	max-width: 180px;
	background:  #2c3e50;
	color:   #95a5a6 ; 
	margin-left: -180px;
	transition: all 0.5s;
	font-weight: bold;
	font-size: 9px;
	height: %100;
}

.sidebar.is-open {
	margin-left: 0;
	transition: 0.5s;
}

.sidebar-header {
	background:  #566573 ;
}

.sidebar h1 {
	color:  #d5d8dc; 
	padding: 8px;
	font-weight: bold;
	text-align: center;
	font-size: 10px;
}

.sidebar-header h3 {
	color:  #d5d8dc; 
	padding: 12px;
	font-weight: bolder;
	text-align: center;
	font-size: 12px;
}

.sidebar ul p {
	color: #abb2b9;
	padding: 0px;
}

.menu-open {
	background: #6d7fcc;
}


.nav-item {
	height:24px;
	font-size:10px;
	margin-bottom:0px;
	margin-top:0px;
	padding:0px;
	padding-bottom:8px;
}
.nav-item:hover {
	color: #d5d8dc;
	background: #222222;
}

.items-menu {
	color: #d5d8dc;
	background: #666699;
}

li a.dropdown-toggle::after {
	display: inline-flex;
	position: relative;
	left: 60%;
	top: 10%;
}

.sidebar-header > span {
	position: relative;
	float: right;
	margin: 0.5em;
	font-size: 1rem;
	cursor: pointer;
	display: none;
}
.side-menu {
	height: calc(100vh - 130px);
	overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
	width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
	background: #000000;
	border-radius: 0px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
	background: #000000;
}

.pl-4{
margin-left:-10px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
	padding: 20px;
	margin-left: 0;
	color: #004400;
	text-align: left;
	font-weight: bolder;
	height: %100;
  
}


@media only screen and (max-width: 500px) {
body {
	overflow: hidden;
}

.content.is-open {
	margin:auto;
	display:flex;
	text-align:center;
	justify-content:center;
}

.content.is-open.container-fluid {
	display:flex;
	text-align:center;
	justify-content:center;
	text.align:center;
}
.sidebar.is-open {
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	margin-left: 0;
	transition: all 1s, height 0s;
}

.sidebar.is-open > .sidebar-header span {
	display: unset;
}

li a.dropdown-toggle::after {
	display: inline-block;
	position: relative;
	left: 68%;
}
}

.table-condensed{
font-size: 10px;
}

