.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

body {
  font-family: "Calibri", sans-serif;
  background:  #00cccc;
}


/* ---------------------------------------------------
    Estilo de formularios
----------------------------------------------------- */


/*---------
 *Ventas y compras
 *---------*/
@import url("./estilos/realizar-venta-compra.css");
@import url("./estilos/registro-ventas-compras.css");
@import url("./estilos/editar-venta-compra.css");


/*---------
 *Productos y Usuarios
 *---------*/
@import url("./estilos/productos-usuarios.css");


/*---------
 *Cuentas 
 *---------*/
 @import url("./estilos/ingresar-retirar-cuentas.css");

/*
 * Formato de contenido
 * 
 * */

@import url("./estilos/contenido.css");


/* ---------------------------------------------------
    Formato de barra lateral
----------------------------------------------------- */


@import url("./estilos/sidebar.css");
